name: Build Catalog
on:
  push:
    branches:
      - main
    
jobs:
  release:
    name: Creates Tag and Release Artifacts and Upload to Quay
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get Semantic Version
        id: version
        uses: PaulHatch/semantic-version@v4.0.3
        with:
          short_tags: false
          bump_each_commit: true

      - name: Tag Release
        uses: tvdias/github-tagger@v0.0.1
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          tag: "${{ steps.version.outputs.version_tag }}"
        continue-on-error: true
        
      - name: Log in to Quay.io
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_PASSWORD }}
          registry: quay.io