name: Update Catalog
on:
  workflow_dispatch:
    inputs:
      version: 
        description: 'Semantic Version of Operator Bundle'
        required: true
        type: string
      bundle: 
        description: 'location of bundle image'
        required: true
        type: string
      operator: 
        description: 'name of operator for catalog'
        required: true
        type: string
      package: 
        description: 'operator package file for catalog'
        required: false
        default: ''
        type: string
      channel: 
        description: 'Channel to Add Bundle To'
        required: false
        default: 'stable'
        type: string
jobs:
  catalog-updates:
    runs-on: ubuntu-latest
    env:
      CPATH: catalog
      OPATH: ${{inputs.operator}}
    steps: 
      - uses: actions/checkout@v3

      - name: render bundle
        id: render
        uses: machine-node-linker/opm-actions/render-bundle
        with:
          bundle: ${{inputs.bundle}}

      - name: process files
        run: |
          mkdir -p $GITHUB_WORKSPACE/$CPATH/$OPATH
          echo ${{inputs.package}} > $GITHUB_WORKSPACE/$CPATH/$OPATH/package.json
          echo ${{steps.render.outputs.bundle}} >> $GITHUB_WORKSPACE/$CPATH/$OPATH/bundles.json
      
      - name: valide catalog
        uses: machine-node-linker/opm-actions/validate
      
      - name: make pr
        uses: peter-evens/create-pull-request@v4
        with:
          committer: machine-node-linker Bot <machine-node-linker@csfreak.com>
          branch: catalog-update
          branch-suffix: ${{github.run_number}}
          commit-message: Automated Catalog Update
          title: Update ${{inputs.operator}} to ${{inputs.version}}
          delete-branch: true
          add-paths: catalog


          
        
