name: Update Catalog
on:
  workflow_dispatch:
    inputs:
      version: 
        description: 'Semantic Version of Operator Bundle'
        required: true
        type: string
      image: 
        description: 'location of controller image'
        required: false
        type: string
      bundle: 
        description: 'location of bundle image'
        required: true
        type: string
      operator: 
        description: 'name of operator for catalog'
        required: true
        type: string
      description: 
        description: 'operator description for catalog'
        required: false
        default: ''
        type: string
      icon: 
        description: 'base64 encoded image for catalog'
        required: false
        type: string
jobs:
  catalog-updates:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3
      - run: |
          mkdir -p catalog/${{}}
