name: Update Catalog
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Semantic Version of Operator Bundle"
        required: true
        type: string
      bundle:
        description: "location of bundle image"
        required: true
        type: string
      operator:
        description: "name of operator for catalog"
        required: true
        type: string
      channel:
        description: "Channel to Add Bundle To"
        required: false
        default: "candidate"
        type: choice
        options:
          - "stable"
          - "fast"
          - "candidate"
      icon:
        description: "base64 encoded icon file"
        required: false
        type: string
      description:
        description: "base64 encoded description file (Usually README.md)"
        required: false
        type: string
jobs:
  catalog-updates:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: machine-node-linker/opm-actions/create-veneer@v2
        with:
          catalog: catalog
          operator: ${{inputs.operator}}
        continue-on-error: true

      - uses: machine-node-linker/opm-actions/append-bundle@v2
        with:
          catalog: catalog
          operator: ${{inputs.operator}}
          channel: ${{inputs.channel}}
          bundle: ${{inputs.bundle}}

      - uses: machine-node-linker/opm-actions/render-veneer-semver@v2
        id: render
        with:
          file: catalog/${{inputs.operator}}/${{inputs.operator}}.semvar-veneer.yaml
      - uses: machine-node-linker/opm-actions/write-render-files@v2
        with:
          renderfile: ${{steps.render.outputs.rendered}}
          directory: catalog/${{inputs.operator}}
          icon: ${{inputs.icon}}
          description: ${{inputs.description}}

      - uses: machine-node-linker/opm-actions/update-package@v2
        with:
          operator: ${{inputs.operator}}

      - name: validate catalog
        uses: machine-node-linker/opm-actions/validate@v2

      - name: make pr
        uses: peter-evans/create-pull-request@v4
        with:
          committer: machine-node-linker Bot <machine-node-linker@csfreak.com>
          branch: catalog-update-workflow
          commit-message: Automated Catalog Update
          title: "feat(${{inputs.operator}}): update ${{inputs.operator}} to ${{inputs.version}}"
          body: |
            Automated PR Created by ${{github.workflow}} workflow
            Triggered by: ${{github.event.sender.login}}
          delete-branch: true
          base: main
          add-paths: |
            catalog/${{inputs.operator}}
